*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    .img__one{
        background-image: url(../photo_2022-11-03_15-00-58.jpg);
        background-size: 80% 100%;
        padding: 10%; 
        width: 100%;
        margin-top: 1%;
        z-index: -1;
    }
    .div__first{
        width: 30%;
        margin: -5% auto;
        border: 1px solid whitesmoke;
        background-color: #fff;
        text-align: center;
        border-radius: 15px;
        box-shadow: 1px 1px 5px 1px black;
        h1{
            color: #01012f;
        }
        .div__two{
            width: 40%;
            margin: 5% auto;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 4px solid #007bff;
            border-radius: 15px;
        }
    }
    .big__div{
       width: 100%;
       margin: auto;
       display: flex;
       margin-top: 10%;
       .big_one_div{
        width: 70%;
       }
       .big_two_div{
        width: 35%;
        .div__smoll__1{
            width: 100%;
            border: 1px solid white;
            background-color: #e9fed7;
            padding: 6%;
            .diz__big__div{
              display: flex;
              .div__two{
                width: 10%;
                background-color:#007bff ;
                color: #007bff;
                margin-top: 2%;
                margin-bottom: 2%;
                border-radius: 15px;
            }
            h2{
                margin-left: 2%;
            }
            }
            h5{
                color: #393939;
            }
        }
        .div__smoll__2{
            width: 100%;
            border: 1px solid white;
            background-color: #e9fed7;
            padding: 6%;
        }    
        .div__smoll__3{
            width: 100%;
            border: 1px solid white;
            background-color: #e9fed7;
            padding: 6%;
            margin-top: 5%;
            .diz__big__div{
              display: flex;
              .div__two{
                width: 10%;
                background-color:#007bff ;
                color: #007bff;
                margin-top: 2%;
                margin-bottom: 2%;
                border-radius: 15px;

            }
            h2{
                margin-left: 2%;
            }
            }
            .diz__big__div__1{
                width: 79%;
                margin: 5% auto;
                border-radius: 30px;
                background-color: #01012f;
                color: white;
                display: flex;
                h3{
                    margin-top: 2%;
                    margin-bottom: 2%;
                    margin-left: 10%;
                }
                .div_diz{
                    width: 15%;
                    background-color: #007bff;
                    border-radius: 30px;
                    padding: 5%;
                    margin-left:inherit;
                }
              }            
        }
       }
    }
    
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
    
        .footer_div {
          display: flex;
          width: 85%;
          margin-top: 2%;
    
          .maktab_navigatsiya {
            width: 50%;
            display: flex;
    
            .maktab_haqida {
              width: 50%;
    
              .text {
                width: 93%;
                padding: 3%;
                font-size: 14px;
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
    
            .navigatsiya {
              width: 50%;
    
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 13px;
                margin-top: 2%;
    
                div {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
    
                  &:hover {
                    transform: translate(47%);
                  }
    
                  i {
                    color: black;
                    left: 30%;
                    top: 10%;
                    position: absolute;
                  }
                }
    
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
    
          .bizBilan_xarita {
            width: 50%;
            display: flex;
    
            .boglaning {
              width: 50%;
    
              .manzil {
                width: 90%;
                font-size: 13px;
                margin-top: 4% !important;
    
                b {
                  padding-top: 100px !important;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
              
            }
              .xarita{
                width: 50%;
                div{
                  iframe{
                    width:100%;
                    height: 200px;
                    margin-top: 3%;
                  }
                }
              }
          }
    
        }
    
      }
 @media only screen and (max-width: 998px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
    
        .footer_div {
          display: flex;
          width: 70%;
          margin-top: 2%;
    
          .maktab_navigatsiya {
            width: 50%;
            display: flex;
    
            .maktab_haqida {
              width: 50%;
    
              .text {
                width: 93%;
                padding: 3%;
                font-size: 14px;
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
    
            .navigatsiya {
              width: 50%;
    
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 13px;
                margin-top: 2%;
    
                div {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
    
                  &:hover {
                    transform: translate(47%);
                  }
    
                  i {
                    color: black;
                    left: 30%;
                    top: 10%;
                    position: absolute;
                  }
                }
    
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
    
          .bizBilan_xarita {
            width: 50%;
            display: flex;
    
            .boglaning {
              width: 50%;
    
              .manzil {
                width: 90%;
                font-size: 13px;
                margin-top: 4% !important;
    
                b {
                  padding-top: 100px !important;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .xarita {
                width: 50%;
              }
            }
          }
    
        }
    
      }
      }    
      @media only screen and (max-width: 1100px){
        footer {
            width: 100%;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            margin-top: 4%;
        
            .footer_div {
              display: flex;
              width: 80%;
              margin-top: 2%;
        
              .maktab_navigatsiya {
                width: 50%;
                display: flex;
        
                .maktab_haqida {
                  width: 50%;
        
                  .text {
                    width: 93%;
                    padding: 3%;
                    font-size: 14px;
                  }
        
                  .chiziq {
                    width: 90%;
                    height: 2px;
                    background-color: rgb(105, 103, 103);
        
                    div {
                      width: 30%;
                      height: 2px;
                      background-color: white;
                    }
                  }
                }
        
                .navigatsiya {
                  width: 50%;
        
                  .asosiy {
                    width: 90%;
                    border-bottom: 1px solid gray;
                    display: flex;
                    height: 40px;
                    padding-top: 3%;
                    font-size: 13px;
                    margin-top: 2%;
        
                    div {
                      width: 17px;
                      height: 17px;
                      border-radius: 50%;
                      background-color: white;
                      position: relative;
                      transition: 0.6s ease;
                      margin-top: 1%;
        
                      &:hover {
                        transform: translate(47%);
                      }
        
                      i {
                        color: black;
                        left: 30%;
                        top: 10%;
                        position: absolute;
                      }
                    }
        
                    b {
                      padding-left: 4%;
                      cursor: pointer;
                    }
                  }
        
                  .chiziq {
                    width: 90%;
                    height: 2px;
                    background-color: rgb(105, 103, 103);
        
                    div {
                      width: 30%;
                      height: 2px;
                      background-color: white;
                    }
                  }
                }
              }
        
              .bizBilan_xarita {
                width: 50%;
                display: flex;
        
                .boglaning {
                  width: 50%;
        
                  .manzil {
                    width: 90%;
                    font-size: 13px;
                    margin-top: 4% !important;
        
                    b {
                      padding-top: 100px !important;
                    }
                  }
        
                  .chiziq {
                    width: 90%;
                    height: 2px;
                    background-color: rgb(105, 103, 103);
        
                    div {
                      width: 30%;
                      height: 2px;
                      background-color: white;
                    }
                  }
        
                  .chiziq {
                    width: 90%;
                    height: 2px;
                    background-color: rgb(105, 103, 103);
        
                    div {
                      width: 30%;
                      height: 2px;
                      background-color: white;
                    }
                  }
        
                  .xarita {
                    width: 50%;
                  }
                }
              }
        
            }
        
          }
      }
@media only screen and (max-width: 998px) {
      .big__div{
        display: block;
        .big_one_div{
            width: 100%;
        }
        .big_two_div{
            width: 100%;
        }
      }
      .div__first{
        width: 60%;
      }
      footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
    
        .footer_div {
          display: flex;
          width: 90%;
          margin-top: 2%;
    
          .maktab_navigatsiya {
            width: 50%;
            display: flex;
    
            .maktab_haqida {
              width: 50%;
    
              .text {
                width: 93%;
                padding: 3%;
                font-size: 14px;
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
    
            .navigatsiya {
              width: 50%;
    
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 13px;
                margin-top: 2%;
    
                div {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
    
                  &:hover {
                    transform: translate(47%);
                  }
    
                  i {
                    color: black;
                    left: 30%;
                    top: 10%;
                    position: absolute;
                  }
                }
    
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
    
          .bizBilan_xarita {
            width: 50%;
            display: flex;
    
            .boglaning {
              width: 50%;
    
              .manzil {
                width: 90%;
                font-size: 13px;
                margin-top: 4% !important;
    
                b {
                  padding-top: 100px !important;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .xarita {
                width: 50%;
              }
            }
          }
    
        }
    
      }
  }
  @media only screen and (max-width: 900px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
    
        .footer_div {
          display: flex;
          width: 100%;
          margin-top: 2%;
          padding-left: 2%;
    
          .maktab_navigatsiya {
            width: 50%;
            display: flex;
    
            .maktab_haqida {
              width: 50%;
    
              .text {
                width: 93%;
                padding: 3%;
                font-size: 14px;
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
    
            .navigatsiya {
              width: 50%;
    
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 13px;
                margin-top: 2%;
    
                div {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
    
                  &:hover {
                    transform: translate(47%);
                  }
    
                  i {
                    color: black;
                    left: 30%;
                    top: 10%;
                    position: absolute;
                  }
                }
    
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
    
          .bizBilan_xarita {
            width: 50%;
            display: flex;
    
            .boglaning {
              width: 50%;
    
              .manzil {
                width: 90%;
                font-size: 13px;
                margin-top: 4% !important;
    
                b {
                  padding-top: 100px !important;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
              .chiziq {
                width: 90%;
                height: 2px;
                background-color: rgb(105, 103, 103);
    
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
    
    
            }
    
            .xarita {
              width: 50%;
    
              div {
                iframe {
                  width: 90% !important;
                  height: 200px;
                  margin-top: 3%;
                }
              }
            }
          }
    
    
        }
    
      }
  }
  @media only screen and (max-width: 800px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
  
        .footer_div {
          display: flex;
          width: 100%;
          margin-top: 2%;
  
          .maktab_navigatsiya {
            width: 50% !important;
            flex-direction: column !important;
  
            .maktab_haqida {
              width: 70% !important;
              font-size: 16px !important;
              text-align: center !important;
  
              .text {
                width: 100% !important;
                font-size: 15px !important;
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
  
            .navigatsiya {
              width: 70% !important;
              margin-top: 4% !important;
              text-align: center !important;
  
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 13px;
                margin-top: 2%;
                margin: auto;
  
                div {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
  
                  &:hover {
                    transform: translate(47%);
                  }
  
                  i {
                    color: black;
                    left: 30%;
                    top: 10%;
                    position: absolute;
                  }
                }
  
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
  
          .bizBilan_xarita {
            width: 50%;
            // display: flex;
            flex-direction: column !important;
  
            .boglaning {
              width: 90% !important;
              text-align: center !important;
  
              .manzil {
                width: 90%;
                font-size: 13px;
                margin-top: 4% !important;
  
                b {
                  padding-top: 100px !important;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
  
  
  
  
            }
  
            .xarita {
              width: 50%;
  
              div {
                iframe {
                  width: 100% !important;
                  height: 200px;
                  margin-top: 3%;
                }
              }
            }
          }
  
        }
  
      }
  }
  @media only screen and(max-width:650px){
    .xarita {
        width: 80% !important;
  
        div {
          iframe {
            width: 100% !important;
            height: 200px;
            margin-top: 3%;
          }
        }
      }
  }
  @media only screen and (max-width: 550px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 4%;
  
        .footer_div {
          display: flex;
          width: 100%;
          margin-top: 2%;
  
          .maktab_navigatsiya {
            width: 50% !important;
            flex-direction: column !important;
  
            .maktab_haqida {
              width: 70% !important;
              font-size: 15px !important;
              text-align: center !important;
  
              .text {
                width: 100% !important;
                font-size: 13px !important;
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
  
            .navigatsiya {
              width: 70% !important;
              margin-top: 4% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 40px;
                padding-top: 3%;
                font-size: 11px !important;
                margin-top: 2%;
                margin: auto;
  
                div {
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
  
                  &:hover {
                    transform: translate(47%);
                  }
  
                  i {
                    color: black;
                    left: 28% !important;
                    top: 12% !important;
                    position: absolute;
                  }
                }
  
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
  
          .bizBilan_xarita {
            width: 50%;
            // display: flex;
            flex-direction: column !important;
  
            .boglaning {
              width: 90% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .manzil {
                width: 90%;
                font-size: 10px !important;
                margin-top: 4% !important;
  
                b {
                  padding-top: 100px !important;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30% !important;
                  height: 2px;
                  background-color: white;
                }
              }
  
  
  
              .xarita {
                width: 90% !important;
  
              }
            }
          }
  
        }
  
      }
  }
  @media only screen and (max-width: 500px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        color: white;
        margin-top: 4%;
  
        .footer_div {
          // display: flex;
          flex-direction: column !important;
          width: 100%;
          margin-top: 2%;
  
          .maktab_navigatsiya {
            width: 80% !important;
            flex-direction: column !important;
  
            .maktab_haqida {
              width: 80% !important;
              font-size: 15px !important;
              // text-align: center !important;
  
              .text {
                width: 100% !important;
                font-size: 13px !important;
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
  
            .navigatsiya {
              width: 70% !important;
              margin-top: 4% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 50px !important;
                padding-top: 3%;
                font-size: 11px !important;
                margin-top: 2%;
                margin: auto;
  
                div {
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
  
                  &:hover {
                    transform: translate(47%);
                  }
  
                  i {
                    color: black;
                    left: 28% !important;
                    top: 12% !important;
                    position: absolute;
                  }
                }
  
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
  
          .bizBilan_xarita {
            width: 100% !important;
            // display: flex;
            flex-direction: column !important;
            margin-top: 6% !important;
  
            .boglaning {
              width: 60% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .manzil {
                width: 90%;
                font-size: 10px !important;
                margin-top: 4% !important;
  
                b {
                  padding-top: 100px !important;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30% !important;
                  height: 2px;
                  background-color: white;
                }
              }
  
  
  
              .xarita {
                width: 90% !important;
  
              }
            }
          }
  
        }
  
      }
  }
  @media only screen and (max-width: 450px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        color: white;
        margin-top: 4%;
  
        .footer_div {
          // display: flex;
          flex-direction: column !important;
          width: 100%;
          margin-top: 2%;
  
          .maktab_navigatsiya {
            width: 80% !important;
            flex-direction: column !important;
  
            .maktab_haqida {
              width: 80% !important;
              font-size: 15px !important;
              // text-align: center !important;
  
              .text {
                width: 100% !important;
                font-size: 13px !important;
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
  
            .navigatsiya {
              width: 70% !important;
              margin-top: 4% !important;
              text-align: center !important;
  
              b {
                font-size: 13px !important;
              }
  
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 50px !important;
                padding-top: 3%;
                font-size: 11px !important;
                margin-top: 2%;
                margin: auto;
  
                div {
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
  
                  &:hover {
                    transform: translate(47%);
                  }
  
                  i {
                    color: black;
                    left: 28% !important;
                    top: 12% !important;
                    position: absolute;
                    font-size: 11px !important;
                  }
                }
  
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
  
          .bizBilan_xarita {
            width: 100% !important;
            // display: flex;
            flex-direction: column !important;
            margin-top: 6% !important;
  
            .boglaning {
              width: 60% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .manzil {
                width: 90%;
                font-size: 10px !important;
                margin-top: 4% !important;
  
                b {
                  padding-top: 100px !important;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30% !important;
                  height: 2px;
                  background-color: white;
                }
              }
  
  
  
              .xarita {
                width: 90% !important;
  
              }
            }
          }
  
        }
  
      }
  }
  @media only screen and (max-width:400px){
    footer {
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        color: white;
        margin-top: 4%;
  
        .footer_div {
          // display: flex;
          flex-direction: column !important;
          width: 100%;
          margin-top: 2%;
  
          .maktab_navigatsiya {
            width: 100% !important;
            flex-direction: column !important;
            text-align: center !important;
  
            .maktab_haqida {
              width: 100% !important;
              font-size: 15px !important;
              // text-align: center !important;
  
              .text {
                width: 100% !important;
                font-size: 13px !important;
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
  
            .navigatsiya {
              width: 100% !important;
              margin-top: 4% !important;
              text-align: center !important;
  
              b {
                font-size: 14px !important;
              }
  
              .asosiy {
                width: 90%;
                border-bottom: 1px solid gray;
                display: flex;
                height: 50px !important;
                padding-top: 3%;
                font-size: 11px !important;
                margin-top: 2%;
                margin: auto;
  
                div {
                  width: 13px;
                  height: 13px;
                  border-radius: 50%;
                  background-color: white;
                  position: relative;
                  transition: 0.6s ease;
                  margin-top: 1%;
  
                  &:hover {
                    transform: translate(47%);
                  }
  
                  i {
                    color: black;
                    left: 28% !important;
                    top: 12% !important;
                    position: absolute;
                    font-size: 11px !important;
                  }
                }
  
                b {
                  padding-left: 4%;
                  cursor: pointer;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto;
  
                div {
                  width: 30%;
                  height: 2px;
                  background-color: white;
                }
              }
            }
          }
  
          .bizBilan_xarita {
            width: 100% !important;
            // display: flex;
            flex-direction: column !important;
            margin-top: 6% !important;
  
            .boglaning {
              width: 100% !important;
              text-align: center !important;
  
              b {
                font-size: 15px !important;
              }
  
              .manzil {
                width: 90%;
                font-size: 10px !important;
                margin-top: 4% !important;
                padding-left: 10% !important;
  
                b {
                  padding-top: 100px !important;
                }
              }
  
              .chiziq {
                width: 60% !important;
                height: 2px;
                background-color: rgb(105, 103, 103);
                margin: auto !important;
  
                div {
                  width: 30% !important;
                  height: 2px;
                  background-color: white;
                }
              }
  
  
  
              .xarita {
                width: 90% !important;
  
              }
            }
          }
  
        }
  
      }
  }
@media only screen and (max-width: 330px) {
    .big__div{
      display: block;
      .big_one_div{
          width: 100%;
      }
      .big_two_div{
          width: 100%;
        .div__smoll__1{
            h2{
             font-size: 20px;
          }     
          }
        .div__smoll__3{
          .diz__big__div__1{
           h3{
            font-size: 17px;
            }
            }

        }  

      }
    }
    .div__first{
      width: 70%;
    }
}




.wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

button::-moz-focus-inner { 
  border: 0;
  padding: 0;
}

#calendari {
    position: relative;
    overflow: hidden;
    height: 310px;
    width: 350px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);

}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 350px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}
table.actiu {
    transform: translateX(0px)top;
}
table.inactiu {
    transition: all 0.3s 0.01s ease;
}
table.amagat-esquerra {
    transform: translateX(-299px);
}
table.amagat-dreta {
    transform: translateX(300px);
}
td,th {
    text-align: center;
    background-color: #fff;
}
th {
    padding: 10px;
}
tr:first-child th {
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
td:last-child, th:last-child {
  border-right: none;
}

th {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #ace5f8;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    font-weight: normal;
}
th .any {
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-shadow: none;
    color: rgba(0,0,0,0.4);
}
tr:nth-child(2) th {
    padding: 5px;
}
td {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
td>span {
    color: #555;
    padding: 10px;
    display: block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

td:nth-child(even)>span {
    background-color: rgba(0,0,0,0.02);
}
td:last-child>span,
td:nth-child(6)>span {
    color: #9b59b6;
}
td.avui>span {
    font-weight: bold;
    background-color: #ace5f8;
    color: #fff;
    border: 2px solid rgba(0,0,0,0.1);
}
td.fora > span {
    opacity: 0.2;
}
td > span:hover {
    background-color: #ace5f8;
    color: #fff;
}
.boto-next, .boto-prev {
    background: rgba(0,0,0,0.1);
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: inherit;
    padding: 2px 10px 5px 10px;
    line-height: 1px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    top: 15px;
}
.boto-next { right: 10px; padding-left: 13px; }
.boto-prev { left: 10px; padding-right: 13px;}
.boto-next:hover,
.boto-prev:hover {
    background: rgba(0,0,0,0.2);
}
button:hover { cursor: pointer; }
button:focus { outline: none; }

footer {
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  padding: 20px;
}

footer a,
footer a:link {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 998px) {
      .big__div{
        display: block;
        .big_one_div{
            width: 100%;
        }
        .big_two_div{
            width: 100%;
        }
      }
      .div__first{
        width: 60%;
      }
  }
@media only screen and (max-width: 330px) {
    .big__div{
      display: block;
      .big_one_div{
          width: 100%;
      }
      .big_two_div{
          width: 100%;
        .div__smoll__1{
            h2{
             font-size: 20px;
          }     
          }
          .div__smoll__2{
            display: none;
          }
        .div__smoll__3{
          .diz__big__div__1{
           h3{
            font-size: 17px;
            }
            }

        }  

      }
    }
    .div__first{
      width: 70%;
    }
}




.wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

button::-moz-focus-inner { 
  border: 0;
  padding: 0;
}

#calendari {
    position: relative;
    overflow: hidden;
    height: 310px;
    width: 350px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);

}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 350px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}
table.actiu {
    transform: translateX(0px)top;
}
table.inactiu {
    transition: all 0.3s 0.01s ease;
}
table.amagat-esquerra {
    transform: translateX(-299px);
}
table.amagat-dreta {
    transform: translateX(300px);
}
td,th {
    text-align: center;
    background-color: #fff;
}
th {
    padding: 10px;
}
tr:first-child th {
    font-size: 20px;
    font-weight: bold;
    border-left: none;
    border-top: none;
}
td:last-child, th:last-child {
  border-right: none;
}

th {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #ace5f8;
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    font-weight: normal;
}
th .any {
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-shadow: none;
    color: rgba(0,0,0,0.4);
}
tr:nth-child(2) th {
    padding: 5px;
}
td {
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
td>span {
    color: #555;
    padding: 10px;
    display: block;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

td:nth-child(even)>span {
    background-color: rgba(0,0,0,0.02);
}
td:last-child>span,
td:nth-child(6)>span {
    color: #9b59b6;
}
td.avui>span {
    font-weight: bold;
    background-color: #ace5f8;
    color: #fff;
    border: 2px solid rgba(0,0,0,0.1);
}
td.fora > span {
    opacity: 0.2;
}
td > span:hover {
    background-color: #ace5f8;
    color: #fff;
}
.boto-next, .boto-prev {
    background: rgba(0,0,0,0.1);
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: inherit;
    padding: 2px 10px 5px 10px;
    line-height: 1px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    top: 15px;
}
.boto-next { right: 10px; padding-left: 13px; }
.boto-prev { left: 10px; padding-right: 13px;}
.boto-next:hover,
.boto-prev:hover {
    background: rgba(0,0,0,0.2);
}
button:hover { cursor: pointer; }
button:focus { outline: none; }

footer {
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  padding: 20px;
}

footer a,
footer a:link {
  color: #fff;
  text-decoration: none;
}
}